<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DjangoMidterm</title>
</head>
<body>
    <header>
        Welcome to Ilim's Project!
        <hr>
    </header>

    <div>
        <a href="{% url 'myapp:add_question' %}">Add a New Question</a>
        <br>
    </div>

    <div>
    {% if latest_question_list %}
        <ul>
        {% for question in latest_question_list %}
            <li>
                <a href="{% url 'myapp:detail' question.id %}">{{question.nickname}}: {{ question.question_text }}</a>
                <br>{{question.pub_date}}<hr>
            </li>
        {% endfor %}
        </ul>
    {% else %}
        <p>No threads are available.</p>
    {% endif %}
    </div>
</body>
</html>